/*Universal Styles*/
html {
  font-size: 16px;
  width: 100%;
}
body {
  background-color: #ecda72;
}
h1 {
  font-family: 'Alegreya Sans SC', 'Times New Roman', serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
section {
padding-top: 2rem;
padding-bottom: 2rem;
}
img,
video {
  border: #a52a2a solid 2px;
  border-left: none;
  border-top: none;
}
.contain {
  display: flex;
  padding-left: 1.5rem;
}
.two-col {
  padding: 6rem 0 2rem 1.5rem;
}
.col-left {
  width: 60%;
  height: auto;
}
.col-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}
.list-item {
  padding: 1rem 0 1rem 1rem;
  justify-content: center;
}
strong {
  font-weight: bold;
}
.button {
  width: auto;
  height: auto;
  padding: 0.5rem 0;
  background-color: #639B1A;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border: #000 1px solid;
  border-radius: 5px;
}
.button:active {
  background-color: #a52a2a;
}
.button-link {
  text-decoration: none;
  width: 80%;
}
.section-block {
  text-align: center;
  margin-top: 2rem;
  background-color: #CDA3D7;
  border-top: #a52a2a 3px solid;
  border-bottom: #a52a2a 3px solid;
}
#banner-text, #info-left, #thesis-left {
  background-color: #CDA3D7;
  border: #a52a2a 5px solid;
  padding-bottom: 2rem;
  border-radius: 5px;
}
.bkgrnd {
  background: rgba(236, 218, 114, .7);
  border-radius: 0px 0px 400px 0px;
}
/*Section Styles*/
/*Header*/
header {
  position:fixed;
  width: 100%;
  margin-top: 0;
  background-color: #639B1A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: #a52a2a 3px solid;
  z-index: 2;
}
header a {
  color: #000;
}
#header-link {
  font-family: 'Alegreya Sans SC', 'Times New Roman', serif;
  word-spacing: 10rem;
  text-decoration: none;
  padding-right: 1rem;
}
nav a{
  font-family: 'Alegreya Sans SC', 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: bold;
  margin: .5rem;
  padding: .4rem;
  background-color: #ecda72;
  border: #a52a2a 1px solid;
  border-radius: 10px;
}
nav a:active {
  color: #a52a2a;
}
nav a:last-child {
  margin-right: 1.5rem;
}
.logo-left span{
  font-size: 2rem;
  margin: auto 0;
  color: #000;
}
.logo-left img {
  border: none;
}
.mobile-icon {
  position: relative;
}
.button-link img {
  border: none;
}
@media only screen and (min-width: 680px) {
  .button-link img {
    display: none;
  }
}

/*Mobile Header Style*/
@media only screen and (max-width: 679px) {
  .logo-left span {
    display: none;
  }
  header {
    height: 2rem;
    padding-top: .5rem;
  }
  nav a {
    background-color: transparent;
    border: none;
    border-radius: 0;

  }
  nav a span {
    display: none;  
  }
  nav a:nth-child(3) {
    display: none;
  }
  header {
    justify-content: space-evenly;
  }
}

/*Banner Section*/

.banner .col-left img {
  border-left: #a52a2a 3px solid;
  border-top: #a52a2a 3px solid;
}
.col-left img,
.col-left video{
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
#banner-text {
  width: 40%;
  justify-content: center;
}
}
#banner-text h1, 
#banner-text h2,
#banner-text a {
  margin-right: 4.5rem;
}
#banner-text button {
  width: 50%;
  margin: 1rem 0;
}

/*Mobile Banner*/
@media only screen and (max-width: 988px) {
  .banner .two-col.contain {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .two-col.contain .col-left {
    width: 100%;
  }
  .col-right.contain {
    padding: 2rem 0rem 2rem 1rem;
  }
  #banner-text {
    width: auto;
    border: none;
    border-radius: 0;
  }
  .banner .col-left img {
    padding-top: 1.5rem;
    border: none;
  }
}


/*Information & Thesis Sections*/
.information {
  margin-bottom: 1rem;
}
.info-caption{
  padding-left: 1rem;
  color: #000;
}
.exhibit {
  margin-bottom: 2rem;
}
.sub-column {
  display: flex;
  border: #a52a2a 5px solid;
  border-right: none;
  max-height: 33%;
  background-color: #639B1A;
  color: black;
  margin: 1px 0;
  border-radius: 50px 0px 0px 50px;
}
.list-item.col-left{
  width: 35%;
  height: auto;
}
.list-item.col-right{
  width: 60%;
  height: auto;
  margin-right: 5px;
}
.list-item.col-right a {
  margin-top: 1rem;
}
.video-caption {
  margin: 2rem 0 1.5rem 0;
}
#testify {
  font-weight: 300;
}
.desktop img {
  border-radius: 10px 0 0 10px;
}
@media only screen and (min-width: 630px) {
  .mobile {
    display: none;
  }
  .sub-column:hover {
    margin-left: 10px;
  }
}

/*Mobile Information*/
@media only screen and (max-width: 629px) {
  .information .contain,
  #info-right {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .mobile {
    display: flex;
  }
  .sub-column {
    flex-direction: column;
    padding: 1rem;
    border: #a52a2a 5px solid;
    border-radius: 5px;
  }
  .desktop img {
    display: none;
  }
  .sub-column .list-item:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  #info-left {
    display: none;
  }

/*Mobile Thesis*/
.exhibit {
  margin-bottom: 1rem;
}  
.thesis .contain {
  padding: 0;
}
#thesis-right, #thesis-left h1, #thesis-left p {
  display: none;
}
  #thesis-left {
    width: auto;
    padding-bottom: 0;  
    border: none;
  }
  video {
    border: none;
  }
}



/*Course Section*/
.course {
  margin-top: 2rem;
  padding-bottom: 1rem;

}
.catalog {
  opacity: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  margin: 1rem 3.5rem;

}
.offer-caption p {
  font-size: 1rem;
}
.offer {
  background-color: #CDA3D7;
  border: #a52a2a solid 2px;
  height: auto;
  margin: 1rem 1rem;
  max-width: 25%;
}
.offer:hover {
  opacity: 0.7;
}
.offer img {
  max-width: 100%;
  height: auto;
}
.offer h2, 
.offer p {
  padding: 0 1rem;
}

/*Mobile course Section*/
@media only screen and (max-width: 629px) {
  .catalog {
    margin: 0;
    flex-direction: column;
    align-content: stretch;
  }
  .course .section-block {
    margin-bottom: 2rem;
  }
  .offer {
    display: flex;
    margin: 0.25rem 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    width: auto;
    max-width: none;
    background-color: #E083AA;
  }
  .offer-caption h2 {
    font-size: 2.5rem;
    font-family: 'Alegreya Sans SC', 'Times New Roman', serif
  }
  .offer img, .offer p {
    display: none;
  }
}

/*Footer*/
footer {
  display: flex;
  background-color: #639B1A;
  justify-content: space-between;
  align-items: center;
  border-top: #a52a2a 3px solid;
}
.terms li{
  margin: 1rem 1rem;
}
.terms li:last-child {
  padding-right: 1.5rem
}

 /*Footer Mobile*/
 @media only screen and (max-width: 629px) {
   footer .logo-left p{
     font-size: 1rem;
   }

 }

 /*Font Names
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;
*/
