/*Universal Styles*/
html {
  font-size: 16px;
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
section {
margin-top: 2rem;
margin-bottom: 2rem;
}
.contain {
  display: flex;
  padding-left: 1.5rem;
}
.two-col {
  padding: 2rem 0 2rem 1.5rem;
}
.col-left {
  width: 60%;
  height: auto;
}
.col-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}
.list-item {
  padding: 1rem 0 1rem 1rem;
  justify-content: center;
}
strong {
  font-weight: bold;
}
.button {
  width: auto;
  height: auto;
  padding: 0.5rem 0;
  background-color: grey;
  color: whitesmoke;
  text-align: center
}
.button-link {
  text-decoration: none;
}
.section-block {
  text-align: center;
  margin-top: 2rem; 
}

/*Section Styles*/
/*Header*/
header {
  position:fixed;
  width: 100%;
  margin-top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: gray solid .5px;
}
#header-link {
  text-decoration: none;
}
nav a{
  margin: .5rem;
}
nav a:last-child {
  margin-right: 1.5rem;
}
.logo-left span{
  font-size: 2rem;
  margin: auto 0;
}
.mobile-icon {
  position: relative;
}
@media only screen and (min-width: 630px) {
  .button-link img {
    display: none;
  }
}

/*Mobile Header Style*/
@media only screen and (max-width: 629px) {
  .logo-left span {
    display: none;
  }
  header {
    height: 2rem;
    padding-top: .5rem;
  }
  nav a span {
    display: none;
  }
  nav a:nth-child(3) {
    display: none;
  }
  header {
    justify-content: space-evenly;
  }
}

/*Banner Section*/
.banner{
  margin-bottom: 2rem;
}
.col-left img,
.col-left video{
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
#banner-text {
  width: 40%;
  justify-content: center;
}
#banner-text h1, 
#banner-text h2,
#banner-text a {
  margin-right: 4.5rem;
}
#banner-text button {
  width: 50%;
  margin: 1rem 0;
}

/*Mobile Banner*/
@media only screen and (max-width: 629px) {
  .banner .two-col.contain {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .two-col.contain .col-left, #banner-text {
    width: 100%;
  }
  .col-right.contain {
    padding: 2rem 1rem;
  }
}


/*Information & Thesis Sections*/
.information {
  margin-bottom: 1rem;
}
.exhibit {
  margin-bottom: 2rem;
}
.list-item.col-left {
  height: auto;
  width: 60%;
}
.sub-column {
  display: flex;
  border: grey 1px solid;
  max-height: 33%;
}
.list-item.col-left{
  width: 35%;
  height: auto;
}
.list-item.col-right{
  width: 60%;
  height: auto;
  margin-right: 5px;
}
.video-caption {
  margin: 2rem 0 1.5rem 0;
}
@media only screen and (min-width: 630px) {
  .mobile {
    display: none;
  }
}

/*Mobile Information*/
@media only screen and (max-width: 629px) {
  .information .contain,
  #info-right {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .mobile {
    display: flex;
  }
  .sub-column {
    flex-direction: column;
    padding: 1rem;
  }
  .desktop {
    display: none;
  }
  .sub-column .list-item:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  #info-left {
    display: none;
  }

/*Mobile Thesis*/
.exhibit {
  margin-bottom: 1rem;
}  
.thesis .contain {
  padding: 0;
}
#thesis-right, #thesis-left h1, #thesis-left p {
  display: none;
}
  #thesis-left {
    width: auto;
  }
}



/*Course Section*/
.course {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem 3.5rem;
}
.offer {
  max-width: 31%;
  background-color: white;
  height: auto;
  margin: 1rem 1rem;
}
.offer img {
  width: 100%;
  height: auto;
}

/*Mobile Section*/
@media only screen and (max-width: 629px) {
  .catalog {
    margin: 0;
    flex-direction: column;
    align-content: stretch;
  }
  .course .section-block {
    margin-bottom: 2rem;
  }
  .offer {
    display: flex;
    margin: 0.25rem 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    width: auto;
    max-width: none;
    background-color: lightgray;
  }
  .offer img, .offer p {
    display: none;
  }
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px gray solid;
}
.terms li{
  margin: 1rem 1rem;
}
.terms li:last-child {
  padding-right: 1.5rem
}

 /*Footer Mobile*/
 @media only screen and (max-width: 629px) {
   footer .logo-left {
     font-size: 0.75rem;
   }

 }

 /*Font Names
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;
*/
